<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Hotels</ion-title>
    <ion-button (click)="signOut()" color="tertiary" slot="end">
  	  <ion-icon name="exit" fill="outline" color="light" size="large"></ion-icon>
  	</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let hotel of hotels" (click)="openHotel(hotel)">
    <ion-card-header color="tertiary" outline="true">
      <ion-card-title>{{hotel.id+' '+hotel.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{hotel.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
<router-outlet></router-outlet>